body {
    background: #f8f9fa;     /* Fondo limpio */
    font-family: 'Inter', sans-serif;
}

.card {
    border-radius: 12px;
}

.btn-primary {
    border-radius: 10px;
}

.navbar {
    border-bottom: 1px solid #ddd;
}

.object-fit-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
